body{
    font-family: 'Tinos', serif;
    font-family: 'Victor Mono', monospace;
}
h3{
    
    margin-top: 100px;
    margin: 10rem;
    color: red;
}
h4::before{
  
    content:"Hello man ";
    
}
h5:hover{
    background-color: yellow;
}


